@import "style.scss";


@media(max-width: 1000px) {

    @mixin card($color, $width) {
        min-width: 150px;
        margin: 10px 20px;
      }

    .container{
        width:950px;
    }
    
    header{
      height: 60px;
      padding-top: 5px;
        div{          
          margin: 0 auto;
          max-width: 750px;
            .logo{
              margin-left: 10px;
              margin-top: 20px;
              float: left;
              height: 30px;
              }
        }
    }
    
    .main-wrapper{
        min-height: 720px;
        h1{
           color: blue;
           font-size: 75px;
        }
        
    }

    .about-wrapper{
        p { 
            font-size: 18px;            
        }
    }
    table {
        width: 950px;
    } 

    .skill-wrapper{
        .skill-card1 {
        @include card(blue ,20%);
        }
    
        .skill-card2 {
        @include card(red,20%);
        }
    
        .skill-card3 {           
        @include card(green,20%);            
        }
    
        .skill-card4 {           
        @include card(yellow,20%);                 
        }
    
        .skill-card5 {           
        @include card(purple,20%);                     
        }
    
        .skill-card6 {           
        @include card(rgb(0, 236, 253),20%);  
                       
        }
    }

    .work-wrapper{
        @include section("../img/back-ground2.png");
        text-align: center;
        
        
        .work-lists{
            width: 240px;
           padding-top: 30px;

           h3{
               font-size: 10px;
           }
           
        }
        
        .work-detail{
            width: 700px;
            float: right;
            margin: 0 auto;
            display: none;
    
            video{
                width: 650px;
            }
            h2 {
                font-size: 30px;
            }
        }
    }
    

}

/* スマホ向けレイアウト */
@media all and (max-width: 750px ) {
    .container{
        width:700px;
    }
    
    header{
        height: 50px;
        padding-top: 1px;

        div{          
          margin: 0 auto;
          max-width: 750px;
          
            .logo{
              margin-left: 30px;
              margin-top: 20px;
              float: left;
              height: 25px;
              }
        }
    }
    
    .main-wrapper{
        min-height: 480px;
        h1{
           color: red;
           font-size: 50px;
        }
        
    }

    .about-wrapper{
        p { 
            font-size: 18px;            
        }
    }
    table {
        width: 700px;
    } 

    .skill-wrapper{
        .skill-card1 {
        @include card(blue ,280px);
        }
    
        .skill-card2 {
        @include card(red,280px);
        }
    
        .skill-card3 {           
        @include card(green,280px);            
        }
    
        .skill-card4 {           
        @include card(yellow,280px);                 
        }
    
        .skill-card5 {           
        @include card(purple,616px);                     
        }
    
        .skill-card6 {           
        @include card(rgb(0, 236, 253),616px);  
                       
        }
    }

    .work-wrapper{
        @include section("../img/back-ground2.png");
        text-align: center;
        
        
        .work-lists{
           width: 150px;
           float: left;
           margin: 0 auto;
           padding-top: 30px;
           
           
           .work-imgs{   
                img{
                    width: 100px;
                    height: 66px;
                    object-fit: cover;
                    object-position:50% 10%;
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
                    border-radius: 5px;
                }

                h3{
                    font-size: 12px;
                }
    
           }
        }
        
        .work-detail{
            width: 550px;
            float: right;
            margin: 0 auto;
            display: none;
    
            video{
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
                border-radius: 5px;
                width: 450px;
            }
            h2 {
            
                font-size: 20px;
                font-weight: 900;
                text-align: left;
            }
        
            ul{
                padding-top: 15px;
                font-size: 15px;
                text-align: left;
                line-height: 18px;
            }
        }
    }
    

}